CricXpert/Datasets/
CricXpert/Face_Recognition_Model/Dataset/
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/extracted_frames
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/extracted_frames_sequences
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolov5s.pt
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolov3.weights
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolov3.cfg
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/spatial_model.h5
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/other_players
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/test_video
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/tested_models
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolo/yolov3.cfg
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolo/yolov3.weights
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/previous_models
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVC/best_svm_player_recognition.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVC/knn_label_encoder.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVC/knn_player_recognition.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVC/svm_label_encoder.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVC/svm_player_recognition.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVM_KNN/ensemble_label_encoder.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVM_KNN/ensemble_player_recognition.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet_SVM_KNN/relieff_model.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/ResNet.h5
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/label_encoder_classes.npy
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/frozen_east_text_detection.pb
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/LSTM/my_tuner_results
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/temp_frames
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolo
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/temp_frames
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/1.png
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/2.png
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/3.png
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/4.png
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/5.png
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/6.png
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/7.jpg
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/8.jpg
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/9.jpg
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/10.png
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/11.png
CricXpert/Face_Recognition_Model/yolov5
CricXpert/Face_Recognition_Model/trained_model
CricXpert/Face_Recognition_Model/yolov5s.pt
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/extracted_frames_sequences
CricXpert/Face_Recognition_Model/trained_model
CricXpert/Face_Recognition_Model/trained_model/face_recognition_model.pkl
CricXpert/Face_Recognition_Model/trained_model/label_encoder.pkl
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/resnet_data
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/temporal_data
lectures
IJCNN 2025
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models/ResNet/test_images
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/dataset_llm_validation