CricXpert/Datasets/
CricXpert/Face_Recognition_Model/Dataset/
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/extracted_frames
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolov5s.pt
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolov3.weights
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/yolov3.cfg
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/spatial_model.h5
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/other_players
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/test_video
CricXpert/Hybrid_Spatio_Temporal_Model_For_Gait_Analysis/saved_models